<tr class="table-row center">
  <td>
    <%= client.name %>
  </td>

  <td>
    <%= client.updated_at.strftime("%m/%d/%Y") %>
  </td>

  <td>
    <div class="table-cell">
      <div class="btn-group">
        <%= link_to("New appointment",
          new_appointment_path(client_id: client.id),
          class: "btn btn-success") %>
      </div>
    </div>
  </td>

  <td>
    <div class="btn-group">
      <%= link_to "New Action",
        new_client_action_path(client, client_id: client.id),
        class: "btn btn-success", id: "new_client_action_button",
        method: :get %>
    </div>
  </td>

  <td>
    <%= link_to("", remove_user_from_client_path(client_id: client.id),
      data: { :confirm => "Are you sure you want to unassign #{client.name}" +
      " from yourself?" },
      class: "btn btn-default glyphicon glyphicon-remove",
      title: "Unassign this client") %>
  </td>
</tr>
