<% provide(:title, "My Calendar") %>

<p id="notice"><%= notice %></p>

<%= month_calendar(attribute: :start,
  events: appointments) do |date, appointments| %>

  <%= date.day %>

  <% appointments.each do |appointment| %>
    <div>
      <%= appointment.client.first_name + " " + appointment.client.last_name +
        " " %>
      <strong><%= appointment.start.strftime("%l:%M%P") %></strong>
    </div>
  <% end %>
<% end %>
