<% provide(:title, "Client") %>

<p>
  <strong>Name:</strong>
  <%= client.name %>
</p>

<div class="btn-group">
  <%= link_to "New Action",
    new_client_action_path(client, client_id: client.id),
    class: "btn btn-success", id: "new_client_action_button",
    method: :get %>
</div>

<% client_actions.each do |client_action| %>
  <p>
    <%= link_to client_action.updated_at.strftime("%m/%d/%Y, %l:%M %p"),
      client_actions_path(client_action) %>
    - <%= client_action.notes[0..25] %>
      <%= "..." if client_action.notes.length > 26 %>
  </p>
<% end %>

<%= link_to 'Back', clients_path %>
