<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#navbar-collapse-area"
        aria-expanded="false">
        <img alt="FH" src="<%= image_path("https://s3.amazonaws.com/fountainhouse-bucket/fh-logo.jpg") %>">
      </button>
      <a class="navbar-brand" id="site_title" href="<%= root_path %>">
        WRAP Manager
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-area">
      <ul class="nav navbar-nav navbar-left" id="navbar-buttons">
        <% if logged_in? %>
          <% if policy(User).index? %>
            <li>
              <%= link_to "Monthly Statistics", monthly_stats_path %>
            </li>
          <% else %>
            <li>
              <%= link_to "Unassigned Clients", user_cp_path(current_user) %>
            </li>

            <li>
              <%= link_to "My Clients", my_clients_path(current_user) %>
            </li>

            <li>
              <%= link_to "Calendar", my_calendar_path(current_user) %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li>
            <p class="navbar-text">
              Signed in as <%= current_user.name || current_user.email %>
            </p>
          </li>

          <li>
            <%= link_to "Sign out", logout_path %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign in", login_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
