<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | WRAP Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'flatpickr', 'data-turbolinks-track': 'reload' if Rails.env.production? %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <%= render 'layouts/header' %>

    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key.to_sym) %>">
        <%= sanitize(value) %>
      </div>
    <% end %>

    <%= yield %>
    
  </body>
</html>
